[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = ">=3.2, <4.0"
mysqlclient = "*"
whitenoise = "*"
requests = "*"
uritemplate = "*"
sentry-sdk = "*"
django-debug-toolbar = "*"
jinja2 = "*"
jinja2-django-tags = "*"
update = "*"
pillow = "*"
beautifulsoup4 = "*"
markdown = "*"
instaloader = "*"
imagekitio = "*"
gunicorn = "*"
#mysql-connector-python = "*"
mariadb = "*"
djangorestframework = "*"
drf-yasg = "*"
django-cors-headers = "*"
pandas = "*"
plotly = "*"
plotly-express = "*"
django-markdownx = {git = "https://github.com/vallka/django-markdownx.git", editable = true}
ipykernel = "*"
python-barcode = {git = "https://github.com/vallka/python-barcode.git", editable = true}
nbformat = "*"
openpyxl = "*"
django-extensions = "*"
ipython = "*"
notebook = "*"
css_inline = "*"
google-cloud-translate = "3"

[requires]
python_version = "3"
