{% extends 'base_skinned.html' %}

{% block description %}{{post.description}}{% endblock %}
{% block keywords %}{{post.keywords}}{% endblock %}

{% block title %}{{meta_title}} - Blog - {{post.title}}{% endblock %}

{% block skin_css %}
{{ super() }}

{% if request.GET.get('f')=='1' %}
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
<style>
body {
  font-family: 'GM Sans', sans-serif;
  font-feature-settings: "ss03" 0;
  font-size: 16px;
  line-height: 1.3rem;
  letter-spacing: initial;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'GM Serif Text', serif;
  line-height: 1;
  font-size: 21px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
</style>
{% endif %}
{% if request.GET.get('f')=='2' %}
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Julius+Sans+One&display=swap" rel="stylesheet">
<style>
body {
  font-family: 'Crimson Text', sans-serif;
  font-feature-settings: "ss03" 0;
  font-size: 16px;
  line-height: 1.3rem;
  letter-spacing: initial;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Julius Sans One', san-serif;
  font-feature-settings: "ss03" 0;
  line-height: 1;
  font-size: 21px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
</style>
{% endif %}
{% if request.GET.get('f')=='3' %}
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Julius+Sans+One&family=Monda&display=swap" rel="stylesheet">
<style>
body {
  font-family: 'Monda', sans-serif;
  font-feature-settings: "ss03" 0;
  font-size: 16px;
  line-height: 1.3rem;
  letter-spacing: initial;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Julius Sans One', san-serif;
  font-feature-settings: "ss03" 0;
  line-height: 1;
  font-size: 21px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
</style>
{% endif %}
{% if request.GET.get('f')=='4' %}
<link href="https://fonts.googleapis.com/css2?family=Elsie:wght@900&family=Source+Sans+Pro&display=swap" rel="stylesheet">
<style>
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-feature-settings: "ss03" 0;
  font-size: 16px;
  line-height: 1.3rem;
  letter-spacing: initial;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Elsie', cursive;
  font-feature-settings: "ss03" 0;
  line-height: 1;
  font-size: 21px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
</style>
{% endif %}
{% if request.GET.get('f')=='5' %}
<link href="https://fonts.googleapis.com/css2?family=Elsie:wght@900&family=Playfair+Display:ital,wght@1,800&family=Source+Sans+Pro&display=swap" rel="stylesheet">
<style>
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-feature-settings: "ss03" 0;
  font-size: 16px;
  line-height: 1.3rem;
  letter-spacing: initial;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-feature-settings: "ss03" 0;
  line-height: 1;
  font-size: 21px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
</style>
{% endif %}


{% endblock %}


{% block json_ld %}
{{post.json_ld|safe}}
{% endblock json_ld %}

{% block breadcrumb %}
<nav data-depth="3" class="breadcrumb hidden-sm-down">
  <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
          
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="{% url 'blog:list' %}">
            <span itemprop="name">Blog</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
      
          
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="{{ post.get_absolute_url() }}">
            <span itemprop="name">{{ breadcrumb }}</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
    
  </ol>
</nav>
{% endblock breadcrumb %}


{% block content %}
{% if post %}
  {% if post.title_color %}
    <style>
      .blog_post_{{post.id}} .blog_header, 
      .blog_post_{{post.id}} .blog_date, 
      .blog_post_{{post.id}} .blog_header a {
        color: {{post.title_color}} !important;
      }
    </style>
  {% endif %}
  {% if post.title_bgcolor %}
    <style>
      .blog_post_{{post.id}} .blog_header {
        background-color: {{post.title_bgcolor}} !important;
      }
      .blog_post_{{post.id}} p a {
          border-bottom-color: {{post.title_bgcolor}} !important;
          filter: brightness(95%);
      }
      .blog_post_{{post.id}} li::marker {
        color: {{post.title_bgcolor}} !important;
        filter: brightness(95%);
      }
      .blog_post_{{post.id}} h2 {
        color: {{post.title_bgcolor}} !important;
        filter: brightness(95%);
      }
      .blog_post_{{post.id}} .read_more a {
        color: {{post.title_bgcolor}} !important;
        filter: brightness(95%);
      }
      .blog_post_{{post.id}} s, .blog_post_{{post.id}} del {
        text-decoration-color: {{post.title_bgcolor}}30;
      }


      .div-dot_{{post.id}}::after {
        background-color: {{post.title_bgcolor}} !important;
      }

    </style>
  {% endif %}
<div class="blog_post blog_post_{{post.id}}">
      <div class="blog_header">
        <h1><a href="{% url 'blog:post' post.slug %}">{{post.title}}</a></h1>
        <div class="blog_date">
          Published {{ post.blog_start_dt }}
        </div>
      </div>
      <div class="blog_body">
        {{post.formatted_markdown|safe}}
      </div>
    </div>
    <div class="divider div-transparent div-dot div-dot_{{post.id}}"></div>

    <div class="blog_post">
      {% if prev%}
        <h4><a href="{% url 'blog:post' prev %}"> < Earlier </a></h4>
      {% endif %}     

      <h4><a href="{% url 'blog:list' %}">Blog Index</a></h4>
      {% if next%}
        <h4><a href="{% url 'blog:post' next %}"> Later > </a></h4>
      {% endif %}     
    </div>
    {% endif %}     
{% endblock content %}