{% extends "base_skinned.html" %}

{% block title %} {{meta_title}} - Blog - {{page_title}}{% endblock %}



{% block content %}
{% if post_list %}
<style>
.blog_content {
	background-color: #f6f6f6;
	display: flex;
  flex-wrap: wrap;
	max-width: 1170px;
}

.blog_post {
  width: 100%;
  max-width: 550px;
  padding: 10px;
  background-color: initial;
}

.blog_card  {
  border: dotted 1px #999;
  border-radius: 5px;
  position: relative;
  width: 340px;
  height: 340px;
  margin:auto;
  overflow:hidden;
}

.blog_card .card_title {
  color: #1a1a1a;
  z-index: 2;
  position: relative;
}

.blog_card a:hover  {
  text-decoration: none !important;
}

@media (min-width: 768px){
  .blog_post {
  width: 345px;
  height: 345px;
}
.blog_card  {
  width: 345px;
  height: 345px;
  overflow: hidden;
}
}
@media (min-width: 992px){
  .blog_post {
  width: 464px;
  height: 464px;
}
.blog_card  {
  width: 464px;
  height: 464px;
  overflow: hidden;
}
}
@media (min-width: 1200px){
  .blog_post {
  width: 550px;
  height: 550px;
}
.blog_card  {
  width: 550px;
  height: 550px;
  overflow: hidden;
}
}

.card_title  h1 {
  font-size: 27px;
  overflow: hidden;
}
@media (min-width: 768px){
  .card_title  h1 {
  font-size: 25px;
}
}
@media (min-width: 992px){
.card_title  h1 {
  font-size: 27px;
}
}
.card_image {

}
@media (min-width: 768px){
  .card_image {
    width: 100%;
}
}
.card_text {
    overflow: hidden;
    position: absolute;
    background-color: #fff9;
    top: 6px;
    left: 6px;
    right: 6px;
    text-align: center;
    color: #403f3f;
    padding: 6px;
    border-radius: 5px;
}
@media (min-width: 768px){
  .card_text {
    /* height: 20%; */
    /* width: 80%; */
  }
}
.card_text h1,.card_text h2,.card_text h3{
  font-size: 17px;
}

.card_text h4,.card_text h6{
  font-size: 17px;
  background-color: #b3b3b3;
}

.card_text_after {
  position: absolute;
  bottom: 0;  
  left: 0;
  height: 30px;
  width: 100%;
  background: linear-gradient(to bottom, transparent, white);;
  pointer-events: none; /* so the text is still selectable */
}
.blog_share {
      text-align: right;
      position: absolute;
      bottom: 10px;
      right: 10px;
      display: flex;
      flex-direction: column;
      }

.after_cat {
  width:100%;
  margin-left: 12px;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 600;
}

@media (min-width: 768px){
.after_cat {
  margin-left: 20px;
}
}

.product_carousel  {
  display: flex !important;
  align-items: stretch;
  width: 100%;
  overflow: auto;
  flex-wrap: nowrap !important;
  scroll-snap-type: x mandatory;
  padding: 20px;
}

.product_carousel img {
  width: 165px;
  height: 165px;
}

@media (min-width: 768px){
  .product_carousel img {
  width: 250px;
  height: 250px;
}
}

.product_carousel div {
  padding: 5px;
}

.product_carousel h4 {
    font-size: 13px !important;
    margin: -10px 10px 5px 10px;
    text-align: center;
    letter-spacing: 1px;
}


</style>



{% for post in post_list %}
    <div class="blog_post blog_post_{{post.id}}">
      
      <div class="blog_card">
        <div class="card_image"><a href="{{ post.get_absolute_url() }}">
          {% if post.first_image %}
            <img src="{{post.first_image}}">
          {% else %}
            <img src="/static/images/flower-square.png">
          {% endif %}
        </a></div>
        <div class="card_text">
          <h1><a href="{{ post.get_absolute_url() }}">{{post.title}}</a></h1>
        </div>
      </div>

    </div>

  {% endfor %}
{% else %}
  <div class="blog_post blog_post_{{post.id}}">
      <div class="blog_body">
        <p>There are no posts yet.</p>
      </div>
  </div>
{% endif %}     

{% if is_paginated %}
<div class="blog_post">
  {% if page_obj.has_previous() %}
      {# <h4 class="paginator"><a href="?page=1">&#x300A;</a></h4> #}
      <h4 class="paginator"><a href="?page={{ page_obj.previous_page_number() }}">&#x3008;</a></h4></h4>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <h4 class="paginator paginator-current">{{ num }}</h4>
      {% else %}
      <h4 class="paginator"><a href="?page={{ num }}">{{ num }}</a></h4>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next() %}
      <h4 class="paginator"><a href="?page={{ page_obj.next_page_number() }}">&#x3009;</a></h4>
      {# <h4 class="paginator"><a href="?page={{ page_obj.paginator.num_pages }}">&#x300B;</a></h4> #}
    {% endif %}
</div>
{% endif %}

{% if post_list2 %}

  <div class="after_cat">
    Shop Now
  </div>
  <div class="product_carousel">
  {{ product_carousel|safe }}
  </div>

  {% for list2 in post_list2 %}
    <div class="after_cat">
      <a href="{{ url ('blog:post-by-cat' , args=[list2['slug']] ) }}">{{list2['name']}}</a> >>
    </div>
    {% for post in list2['posts'] %}
    <div class="blog_post blog_post_{{post.id}}">
      
      <div class="blog_card">
        <div class="card_image"><a href="{{ post.get_absolute_url() }}">
          {% if post.first_image %}
            <img src="{{post.first_image}}">
          {% else %}
            <img src="/static/images/flower-square.png">
          {% endif %}
        </a></div>
        <div class="card_text">
          <h1><a href="{{ post.get_absolute_url() }}">{{post.title}}</a></h1>
        </div>
      </div>

    </div>
    {% endfor %}
  {% endfor %}
{% endif %}

<div class="after_cat">
  Shop Now
</div>
<div class="product_carousel">
{{ product_carousel2|safe }}
</div>


{% endblock content %}



{% block javascript %}
{{ super() }}
{% endblock %}
