{% extends "base_skinned.html" %}

{% block title %} {{meta_title}} - BlogHome - {{page_title}}{% endblock %}



{% block content %}
{% if post_list %}
<style>
.blog_content {
	background-color: #f6f6f6;
	display: flex;
  flex-wrap: wrap;
	max-width: 1170px;
}

.blog_post {
  width: 100%;
  max-width: 345px;
  padding: 15px 10px;
  background-color: initial;
}

.blog_card  {
  border: dotted 1px #999;
  border-radius: 5px;
  position: relative;
  width: 100%;
  margin:auto;
}

.blog_card .card_title {
  color: #1a1a1a;
  z-index: 2;
  position: relative;
}

.blog_card a:hover  {
  text-decoration: none !important;
}


.card_title  h1 {
  font-size: 27px;
  overflow: hidden;
}
@media (min-width: 768px){
  .card_title  h1 {
  font-size: 25px;
}
}
@media (min-width: 992px){
.card_title  h1 {
  font-size: 27px;
}
}
.card_image {
  padding: 6px;
}
@media (min-width: 768px){
  .card_image {
    width: 100%;
}
}
.card_image img {
  width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
}
.card_text {
    overflow: hidden;
    background-color: #fff9;
    top: 6px;
    left: 6px;
    right: 6px;
    text-align: center;
    color: #403f3f;
    padding: 6px;
    border-radius: 5px;
}
@media (min-width: 768px){
  .card_text {
    height: 220px;
  }
}
.card_text h1,.card_text h2,.card_text h3{
  font-size: 22px !important;
  width: 100%;
}

.card_text h4,.card_text h6{
  font-size: 17px !important;
  background-color: #b3b3b3;
}

.card_text p {
  margin-bottom: 6px;
}

.card_text a, .card_text a:hover  {
  text-decoration: none !important;
  border-bottom: none !important;
  font-weight: 300 !important;
}

.card_text h2 a, .card_text h2 a:hover  {
  color: #d73672 !important;
}

@media (min-width: 768px){
.card_text_after {
  position: absolute;
  bottom: 0;  
  left: 0;
  height: 40px;
  width: 100%;
  background: linear-gradient(to bottom, transparent, white);;
  pointer-events: none; /* so the text is still selectable */
}
}
.blog_date {
  font-style: italic;
  font-size: 13px;
  padding-bottom: 0;
  margin-top: -0.5rem;
  margin-bottom: 0;
  text-align: right;
}
.blog_share {
        text-align: right;
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        }
  
  .after_cat {
    width:100%;
    margin-left: 12px;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 600;
  }
  
  @media (min-width: 768px){
  .after_cat {
    margin-left: 20px;
  }
  }
  </style>
  

{% for post in post_list %}
    <div class="blog_post blog_post_{{post.id}}">
      
      <div class="blog_card">
        <div class="card_image"><a href="{{ post.get_absolute_url() }}">
          {% if post.first_image %}
            <img src="{{post.first_image}}">
          {% else %}
            <img src="/static/images/flower-square.png">
          {% endif %}
        </a></div>
        <div class="card_text">
          <h2><a href="{{ post.get_absolute_url() }}">{{ demoji(post.title) }}</a></h2>
          <div class="blog_date">
            {{ post.blog_start_dt.strftime("%d.%m.%Y") }}
          </div>
          <p><a href="{{ post.get_absolute_url() }}">{{ demoji(post.first_p)|safe }}</a></p>
          <div class="card_text_after"></div>
        </div>
     </div>
   </div>


  {% endfor %}
{% else %}
  <div class="blog_post blog_post_{{post.id}}">
      <div class="blog_body">
        <p>There are no posts meeting the search criteria.</p>
      </div>
  </div>
{% endif %}     

{% if is_paginated %}
<div class="blog_post">
  {% if page_obj.has_previous() %}
      {# <h4 class="paginator"><a href="?page=1&q={{ q }}">&#x300A;</a></h4> #}
      <h4 class="paginator"><a href="?page={{ page_obj.previous_page_number() }}&q={{ q }}">&#x3008;</a></h4></h4>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <h4 class="paginator paginator-current">{{ num }}</h4>
      {% else %}
      <h4 class="paginator"><a href="?page={{ num }}&q={{ q }}">{{ num }}</a></h4>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next() %}
      <h4 class="paginator"><a href="?page={{ page_obj.next_page_number() }}&q={{ q }}">&#x3009;</a></h4>
      {# <h4 class="paginator"><a href="?page={{ page_obj.paginator.num_pages }}&q={{ q }}">&#x300B;</a></h4> #}
    {% endif %}
</div>
{% endif %}


{% endblock content %}



{% block javascript %}
{{ super() }}
{% endblock %}
