{% extends "base_int_app.html" %}

{% block title %}Order Detail{% endblock %}


{% block content %}
{% if orderdetail_list %}

<style>
.gel_row {
  grid-template-columns: 120px 1fr 5em 3em;
}

.gel_row > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
}


.img_col {
  width: 120px;
}

.img_col img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.gel_row > div.not_ready {
  background-color:  pink;
}
.gel_row > div.half_ready {
  background-color:  gold;
}

.gel_row > div.ready {
  background-color:  springgreen;
}

</style>

<div class="gel_table" data-id_order="{{order.id_order}}">
  <div class="gel_thead">
    <div>{{order.reference}} (<span id="id_order">{{order.id_order}}</span>) {{order.firstname}} {{order.lastname}} 
      {% if order.is_new %}  
      (*NEW*)
      {% endif %}
      {{order.order_state}} ({{order.id_order_state}})
    
    <span class="back_link"> <a href="..">&lt;&lt;</a> </span>
    </div>
    <div class="gel_row">
      <div>image</div>
      <div>name</div>
      <div>qnt</div>
      <div></div>
    </div>
  </div>

  <div class="gel_tbody">
  {% for order in orderdetail_list %}
    <div class="product_row gel_row" data-id_product="{{order.id_product}}" data-ean="{{order.product_ean13}}">
      <div class="img_col">
        <img src="https://www.gellifique.co.uk/{{order.id_image}}-medium_default/img.jpg">
      </div>
      <div>
        <div>
          <b>{{order.product_name}}</b>
          <br>
          Ref: <b>{{order.product_reference}}</b>
          <br>
          Ean: <b>{{order.product_ean13}}</b>
          <br>
          {% if order.unity>1 %}{{order.unity}} items{% endif %}
        </div>
      </div>
      <div class="qnt_col">
        <div class="qnt_inner">
          <span class="product_quantity">{{order.product_quantity}}</span>
          <br>
          <span class="product_aquantity">({{order.quantity}})</span>
          <br>
          </div>


      </div>
      <div class="checkbox">
        <div class="chk_inner">
          <span class="ready_quantity">0</span>
          <br>
          <input type="checkbox">
        </div>  
      </div>
    </div>
  {% endfor %}
  <div class="gel_tfoot">
    <div class="gel_row">
      <div></div>
      <div></div>
      <div>{{total_qnt}} / {{total_qnt_items}}</div>
      <div></div>
    </div>
  </div>
  </div>

  <div class="gel_tfoot">
    <button id="btn-reset" class="btn btn-danger">Reset</button>
    <button id="btn-update-status" class="btn btn-success" style="display:none">Set Status</button>
  </div>
  
  <audio id="audio_yes" src="/static/audio/jazzy-chords.wav" preload="auto"  ></audio>
  <audio id="audio_no" src="/static/audio/wrong-buzzer.wav" preload="auto"  ></audio>

</div>
  {% else %}
    <p>There are no orders.</p>
  {% endif %}     
{% endblock content %}



{% block javascript %}
{{ super() }}
<script>
var order = {};
var id_order;

$(document).ready(function(){
  id_order = $('.gel_table').attr('data-id_order');
  order = JSON.parse(window.localStorage.getItem('o'+id_order));
  if (! order) order = {};

  if (window.localStorage.getItem('o'+id_order+'-ready')) {
    $('#btn-update-status').show();
  }

  $('.product_row').each(function(){
    const product_quantity = parseInt($(this).find('.product_quantity').text());
    const id_product = 'p'+$(this).attr('data-id_product');
    console.log('initp:'+id_product+':'+order[id_product]);
    if (order[id_product]) {
      console.log('init-set:'+id_product);
      if (product_quantity!=order[id_product][0]) {
        order[id_product][0] = product_quantity;
      }

      $(this).find('.ready_quantity').text(order[id_product][1]);
      if (order[id_product][1]==product_quantity) {
        console.log('!ready');
        $(this).find('div.checkbox').addClass('ready');
        $(this).find('div.checkbox').removeClass('not_ready');
        $(this).find('div.checkbox').removeClass('half_ready');

        $(this).find('input[type=checkbox]').prop('checked',true);
      }
      else if (order[id_product][1] > 0) {
        console.log('!half ready');
        $(this).find('div.checkbox').removeClass('ready');
        $(this).find('div.checkbox').removeClass('not_ready');
        $(this).find('div.checkbox').addClass('half_ready');
      }
      else {
        console.log('!not ready');
        $(this).find('div.checkbox').addClass('not_ready');
      }
    }
    else {
      order[id_product] = [product_quantity,0];    
      $(this).find('div.checkbox').addClass('not_ready');
      console.log('init:'+id_product);
    }
  });

  console.log("order");
  console.log(order);

  $('input[type=checkbox]').change(function(){
    console.log('change:'+this.checked);

    const id_product = 'p'+$(this).parents('div.gel_row').attr('data-id_product');
    const product_quantity = parseInt($(this).parents('div.gel_row').find('.product_quantity').text());
    let ready_quantity = parseInt($(this).parents('div.gel_row').find('.ready_quantity').text());

    console.log(id_product+':'+product_quantity+':'+ready_quantity);


    if (this.checked) {
      if (ready_quantity != product_quantity) {
        if (ready_quantity < product_quantity) {
          $(this).parents('div.gel_row').find('.ready_quantity').text(++ready_quantity);
          updateOrder(id_product,product_quantity,ready_quantity);
        }
        if (ready_quantity == product_quantity) {
          $(this).parents('div.checkbox').addClass('ready');
          $(this).parents('div.checkbox').removeClass('not_ready');
          $(this).parents('div.checkbox').removeClass('half_ready');
        }
        else {
          this.checked = false;
          if (ready_quantity == 0) {
            $(this).parents('div.checkbox').addClass('not_ready');
            $(this).parents('div.checkbox').removeClass('ready');
            $(this).parents('div.checkbox').removeClass('half_ready');
          }
          else {
            $(this).parents('div.checkbox').addClass('half_ready');
            $(this).parents('div.checkbox').removeClass('ready');
            $(this).parents('div.checkbox').removeClass('not_ready');
          }
        }
      }
    }
    else {
      if (ready_quantity > 0) {
        this.checked = true;
      }
    }

  });


  $('#btn-reset').click(function () {
    order = {};
    console.log('reset')

    $('.product_row').each(function(){
      $(this).find('div.checkbox').addClass('not_ready');
        $(this).find('div.checkbox').removeClass('ready');
        $(this).find('div.checkbox').removeClass('half_ready');

        $(this).find('input[type=checkbox]').prop('checked',false);
        $(this).find('.ready_quantity').text(0);
    });

    window.localStorage.removeItem('o'+id_order);
    window.localStorage.removeItem('o'+id_order+'-ready');

    $('#btn-update-status').hide();

    document.activeElement.blur(); //remove focus from Reset button!!!
  });


  $('#btn-update-status').click(function () {
    let url = '/api/v1/prestashop/order/updatestatus/';
    $.ajax({
      method: "post",
      async: false,
      data: {
            "id_order": id_order,
            "id_status": 39,
      },
      dataType: "json",
      url: url,
      headers: {"Authorization": "Token 6b246cc18769c6ec02dc20009649d5ae5903d454"},
      success: function(data) {
        console.log(data);
        //alert('Updated');
        document.location.href = '/prestashop/order/';

    }});
  });


  console.log("end of ready");

});


function updateOrder(id_product,product_quantity,ready_quantity) {
  console.log('updateOrder:'+id_product+':'+product_quantity+':'+ready_quantity);

  order[id_product] = [product_quantity,ready_quantity];
  window.localStorage.removeItem('o'+id_order);
  window.localStorage.setItem('o'+id_order, JSON.stringify(order));


  let ready = 0;
  $.each(order,function(key,element){
    if (Array.isArray(element)) {
      if (element[0]==element[1]) ++ready;
    }
  });


  if (ready && $('.product_row').length==ready) {
    console.log('+ready');
    window.localStorage.setItem('o'+id_order+'-ready', true);
    $('#btn-update-status').show();
  }
  else {
    console.log('-not ready');
    window.localStorage.removeItem('o'+id_order+'-ready');
    $('#btn-update-status').hide();
  }
}


function process(code) {
  console.log( 'Process ---:' + code);

  let found = false;
  $('.product_row').each(function(){
    let ean = $(this).attr('data-ean');
    if (ean==code) {
      found = this;
    }

  });
  if (!found) {
    $('#audio_no').get(0).muted = false;
    $('#audio_no').get(0).volume = 0.5;
    $('#audio_no').get(0).play();
  }
  else {
    $('#audio_yes').get(0).muted = false;

    $('#audio_yes').get(0).volume = 0.5;
    $('#audio_yes').get(0).play();
    $(found).find('input[type=checkbox]').prop('checked',true);
    $(found).find('input[type=checkbox]').change();
  }

}


var code='';
  $( "body" ).keyup(function( event ) {
    console.log( event.originalEvent.key + ' --- ' + code);
  
    if (event.originalEvent.key=='0' ||
        event.originalEvent.key=='1' ||
        event.originalEvent.key=='2' ||
        event.originalEvent.key=='3' ||
        event.originalEvent.key=='4' ||
        event.originalEvent.key=='5' ||
        event.originalEvent.key=='6' ||
        event.originalEvent.key=='7' ||
        event.originalEvent.key=='8' ||
        event.originalEvent.key=='9') {
          code += event.originalEvent.key;
    }
  
    else if (event.originalEvent.key=='Enter' && code.length==13) {
      event.preventDefault();
      const ccode = code;
      code = '';
      process(ccode);
    }
    else {
      code = '';
    }
  
  });
  </script>
{% endblock %}
