{% extends "base_int_app.html" %}

{% block title %}Orders{% endblock %}


{% block content %}
{% if order_list %}

<style>
.gel_row {
  grid-template-columns: 2fr 2fr 2fr 2fr;
}
.gel_row > div.ready {
  background-color:  springgreen;
}

.new {
    font-weight: bold;
    background-color: #1ac41a;
    color: white;
    padding: 0 1px;
}
</style>
  
<div class="gel_table">
  <div class="gel_thead">
    <div class="gel_row">
          <div>id/ref/paid
          </div>
          <div>customer</div>
          <div>state</div>
          <div>date</div>
    </div>
  </div>
  <div class="gel_tbody">
    {% for order in order_list %}
      <div class="gel_row" data-id_order="{{order.id_order}}">
          <div>
            <a href="{{ url ('prestashop:order_detail',args=[order.id_order]) }}">{{order.id_order}}</a>
            <br>
            <a href="{{ url ('prestashop:order_detail',args=[order.id_order]) }}">{{order.reference}}</a>
            <br>
            {% if order.currency_code=='GBP' %}£{% endif %}{{ order.total_paid | round(2) }}
          </div>
          <div><a href="{{ url ('prestashop:order_detail',args=[order.id_order]) }}">{{order.firstname}} {{order.lastname}}</a>
            {% if order.is_new %}  
            <span class="new">N</span>
            {% endif %}
            <br />
            {%if order.country=='United Kingdom'%}{%else%}{{order.country}}:{% endif %} {{order.postcode}}
          </div>
          <div class="order_state"><a href="{{ url ('prestashop:order_detail',args=[order.id_order]) }}">{{order.order_state}}</a></div>
          <div><a href="{{ url ('prestashop:order_detail',args=[order.id_order]) }}">{{order.date_add.strftime("%d/%m/%y %H:%M")}}</a></div>
      </div>
      {% endfor %}
  </div>
</div>
  {% else %}
    <p>There are no orders.</p>
  {% endif %}     
{% endblock content %}



{% block javascript %}
{{ super() }}
<script>
$(document).ready(function(){
  $('.gel_row').each(function(){
    let id_order = $(this).attr('data-id_order');
    console.log(id_order);
    let ready = window.localStorage.getItem('o'+id_order+'-ready');
    console.log(ready);
    if (ready) {
      $(this).find('.order_state').addClass('ready');
    }
    else {
      $(this).find('.order_state').removeClass('ready');
    }

  });
});
</script>
{% endblock %}
