<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block head %}

<title></title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<style>

body {
  font-family: 'Roboto', sans-serif;
  font-size: 11pt;
}

.h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 30pt;
  margin: 0;
  /*text-transform: uppercase;*/
}

#content_div {
  width: 518pt;
  height: 760pt;
  overflow: hidden;
  /*border: solid black 1px;*/
  position:relative;
}

#content_div footer {
  position: absolute;
  bottom:0;
}

#content_div footer img {
  width: 100%;
}
</style>

{% endblock head %}

</head>

<body>

{% block content %}
<div id="content_div">
  content
</div>
{% endblock content %}

</html>
