{% extends "prestashop/print-base.html" %}

{% block head %}

{{ super() }}

<style>

.list-add-to-cart, .product-list-reviews, .product-flags, .regular-price, .discount-percentage, .sr-only, .pagination, .up {
  display: none;
}

.category-cover {
  display: none;
}

.block-category-inner {
  display: none;
}

.card-block {
  padding: 0;
}
.card {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  border-radius: 0;
  border: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-miniature {
  margin: 0 3px;
  width: 162px;
  border: 1pt solid rgb(217, 106, 154);
  margin: 0 2pt 2pt;
  padding: 1px;
  display: none;
}

.products article:nth-child(1), 
.products article:nth-child(2), 
.products article:nth-child(3), 
.products article:nth-child(4), 
.products article:nth-child(5), 
.products article:nth-child(6), 
.products article:nth-child(7), 
.products article:nth-child(8), 
.products article:nth-child(9), 
.products article:nth-child(10), 
.products article:nth-child(11), 
.products article:nth-child(12),
.products article:nth-child(13),
.products article:nth-child(14),
.products article:nth-child(15),
.products article:nth-child(16)
{
  display: block;
}

.product-miniature img {
  width: 100%;
  height:auto;
  aspect-ratio: 1;
}

.product-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 10pt;
  margin: 0;
  height: 28pt;
}

.product-price-and-shipping {
  text-align: center;
  font-size: 10pt;
  margin: 0;
  position: absolute;
  top: 12pt;
  right: 3pt;
}

a {
  text-decoration: none;
  color: black;
}

.product-description {
  position: relative;
}

</style>
{% endblock head %}

{% block content %}
{% for page in pages %}
<div id="content_div">


{{page.category.rendered_products_header|safe}}    
{{page.category.rendered_products|safe}}    

<footer>
    <img src="{{ static ('images/footer.png') }}"
</footer>
</div>
{% endfor %}
{% endblock content %}
