{% extends "prestashop/dj_base.html" %}

{% block title %}Dashboard{% endblock %}
{% block page_title %}Dashboard{% endblock %}
{% block page_subtitle %}Overview and quick stats{% endblock %}
{% block nav_dashboard_active %}is-active{% endblock %}

{% block content %}
<section class="card">

  <div class="card__bd">
    <div class="card__desc">  
      <h2><a href="{% url 'prestashop:order' %}">Orders for Processing</a></h2>
  
      {% for qnt in o_qnt %}
        {{ qnt.0 }}: {{ qnt.1 }}<br>
      {% endfor %}

      <h2><a href="{% url 'prestashop:order' %}">Orders for Processing by Date</a></h2>

      {% for qnt in o_qnt2 %}
        {{ qnt.0 }}: {{ qnt.1 }}<br>
      {% endfor %}

    </div>

  </div>
</section>
{% endblock %}
