{% extends "stats/stats-base.html" %}

{% block ajax_update %}
  $('#myPlots').append('<div id="myPlot11" style="display:none;"></div>');
  $('#myPlots').append('<div id="myPlot1" style="display:none;"></div>');

  $.ajax({
    url: "/api/v1/stats/monthlysalesfig/d/",
    type: "GET",
    contentType: 'application/json;charset=UTF-8',
    dataType:"json",
    success: function (data) {
        Plotly.react('myPlot11', data );
        $('#myPlot11').show();
    }
  });
  $.ajax({
      url: "/api/v1/stats/monthlysalestable/d/",
      type: "GET",
      contentType: 'application/json;charset=UTF-8',
      dataType:"html",
      success: function (data) {
          $('#myPlot1').html(data);
          $('#myPlot1').show();
      }
  });
{% endblock ajax_update %}
