{% extends "stats/stats-base.html" %}

{% block ajax_update %}
  $('#myPlots').append('<div id="myPlot11" style="display:none;"></div>');
  $('#myPlots').append('<div id="myPlot1" style="display:none;"></div>');
  $('#myPlots').append('<div id="myPlot21" style="display:none;"></div>');
  $('#myPlots').append('<div id="myPlot2" style="display:none;"></div>');
  $('#myPlots').append('<div id="myPlot31" style="display:none;"></div>');
  $('#myPlots').append('<div id="myPlot3" style="display:none;"></div>');

  $.ajax({
    url: "/api/v1/stats/monthlysalesfig/y/",
    type: "GET",
    contentType: 'application/json;charset=UTF-8',
    dataType:"json",
    success: function (data) {
        Plotly.react('myPlot11', data );
        $('#myPlot11').show();
    }
  });
  $.ajax({
      url: "/api/v1/stats/monthlysalestable/y/",
      type: "GET",
      contentType: 'application/json;charset=UTF-8',
      dataType:"html",
      success: function (data) {
          $('#myPlot1').html(data);
          $('#myPlot1').show();
      }
  });
  $.ajax({
    url: "/api/v1/stats/monthlysalesfig/q/",
    type: "GET",
    contentType: 'application/json;charset=UTF-8',
    dataType:"json",
    success: function (data) {
        Plotly.react('myPlot21', data );
        $('#myPlot21').show();
    }
  });
  $.ajax({
      url: "/api/v1/stats/monthlysalestable/q/",
      type: "GET",
      contentType: 'application/json;charset=UTF-8',
      dataType:"html",
      success: function (data) {
          $('#myPlot2').html(data);
          $('#myPlot2').show();
      }
  });
  $.ajax({
    url: "/api/v1/stats/monthlysalesfig/m/",
    type: "GET",
    contentType: 'application/json;charset=UTF-8',
    dataType:"json",
    success: function (data) {
        Plotly.react('myPlot31', data );
        $('#myPlot31').show();
    }
  });
  $.ajax({
      url: "/api/v1/stats/monthlysalestable/m/",
      type: "GET",
      contentType: 'application/json;charset=UTF-8',
      dataType:"html",
      success: function (data) {
          $('#myPlot3').html(data);
          $('#myPlot3').show();
      }
  });

{% endblock ajax_update %}
