{% extends "stats/stats-base.html" %}



{% block content %}
<style>
#a-by-cat li {
    display: inline;
    padding: 0 0.3rem;
}

.cat-active {
    color: black;
}

</style>

By Category:
<ul id="a-by-cat">
    <li><a href="#" data-cat="">All</a></li>    
    <li><a href="#" data-cat="bt">Base and Top</a></li>    
    <li><a href="#" data-cat="gelclr">GEL POLISH COLOUR</a></li>    
    <li><a href="#" data-cat="acry">Acrylic Gel</a></li>    
    <li><a href="#" data-cat="hb">Advance Hard Gel</a></li>    
    <li><a href="#" data-cat="apex">Apex Gel</a></li>    
    <li><a href="#" data-cat="qt">TIPS AND FORMS</a></li>    
    <li><a href="#" data-cat="x">Other</a></li>    
</ul>

{{ super() }}
{% endblock content %}

{% block ajax_update %}

var current_sort = '-sold';
var cat = '';


draw_title('Popular Products');
draw_table(current_sort,'productstable');


$('#a-by-cat a').click(function(){
    cat = $(this).attr('data-cat');
    console.log('cat:'+$(this).attr('data-cat'));
    redraw_table();
})

function redraw_table() {
    plot_pos--;
    draw_table(current_sort + (cat?':'+cat:''),'productstable');   
    setTimeout(after_plots_build,1000); 

    $('#a-by-cat a').removeClass('cat-active');
    $('#a-by-cat a[data-cat='+cat+']').addClass('cat-active');
}


function after_build() {
    $('table.dataframe thead th:nth-child(2)').attr('data-col','name')
    $('table.dataframe thead th:nth-child(3)').attr('data-col','sold')
    $('table.dataframe thead th:nth-child(4)').attr('data-col','per_month')
    $('table.dataframe thead th:nth-child(5)').attr('data-col','months_in_sale')
    $('table.dataframe thead th:nth-child(6)').attr('data-col','min_date')
    $('table.dataframe thead th:nth-child(7)').attr('data-col','max_date')
    
    t_sold = $('#th-sold').text();
    t_per = $('#th-per-month').text();
    
    $('table.dataframe thead th').each(function(){
        const title = $(this).text();
        const col = $(this).attr('data-col');
        $(this).html('<a href="#" data-col="'+col+'">'+title+'</a>');
    })
    
    
    $('table.dataframe thead th').click(function(){
        let new_sort = $(this).attr('data-col');

        if (new_sort) {
            if (current_sort && current_sort[0]=='-') {
                if (new_sort==current_sort.substr(1)) {
                    current_sort = new_sort;
                }
                else {
                    current_sort = new_sort;
                    if (current_sort!='name') {
                        current_sort = '-' + current_sort;
                    }
                }
            }
            else {
                if (new_sort==current_sort) {
                    current_sort = '-' + new_sort;
                }
                else {
                    current_sort = new_sort;
                    if (current_sort!='name') {
                        current_sort = '-' + current_sort;
                    }
                }
            }
            redraw_table();
        }

    })
    
}

{% endblock ajax_update %}

{% block ajax_after_update %}

after_build();

{% endblock ajax_after_update %}
